---
---

@import 'custom/_variables';
@import 'bootstrap/bootstrap';
@import 'fontawesome/fontawesome';

body{
    background-color:#f5f6de;
}

// Layout of alert bar and menu


.alert {
    margin-bottom: 0em;
    }

.navbar-brand {
    margin-right: 0.2em; //decrease
    }     
    
.nav-item {
    font-size: 1.4em;
    }      
    
.container-menu {
    padding-right:0;
    padding-left:0;
}

// Font scaling for mobile vs desktop

@media only screen and (max-width: 576px) {

   
   display-4, .display-4 {font-size: 2.5em;}
  
   h1, .h1 {font-size: 2em;}
   
   h2, .h2 {font-size: 1.8em;}
   
.btn {
    white-space:normal !important;
    word-wrap: break-word; 
    word-break: normal;
    }
    
}

//custom fonts
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6, {
    font-family: 'Oswald', sans-serif;
    margin-bottom: 1rem;
    }

.nav-item {
    font-family: 'Oswald', sans-serif;
    }
    
p, .p, .btn, li, .li, ol, .ol {
    font-family: 'Raleway', serif;
    font-size: 1.2em;
    }
    
.lead  {
    font-size: 1.4em;
    }    

.footer {
    font-size:1em;
    margin:0;
    }
    
a, .a {
    font-color: $shirt;
    }    


i {
    margin-right: 0.25em;
    margin-left: 0.25em;
}    
    
// a paragraph proceeded by another paragraph will have a top margin
p + p {
    margin-top: 0.5em;
}

// Form Validation Errors

.error {
	border-color: red;
}

.error-message {
	color: red;
	font-style: italic;
	margin-bottom: 1em;
}  

// Datebox

datebox, .datebox {
    background-image: linear-gradient(to bottom right, #ab3438, #d21c25);
    margin-bottom: 1em;
    color: $white;
    border-radius: 5%;
    text-weight: 800;
    text-align: center;
    font-family: 'Raleway', serif;
    font-size: 1.8em;
    width: 100px;
    height: 100px;
    padding: 0.5em 0.2em;
    line-height: 1.2;
    vertical-align: middle;
    box-shadow: 5px 5px 15px #888888;
}  


.infoblock {
    padding-right:0.5em;
    display:inline-block;
}


@media only screen and (max-width: 576px) {
datebox, .datebox {
    font-size: 1.2em;
    width: 70px;
    height: 70px;
}  

}