---
layout: static
title: Walktober 2019
---
<!--Logo Area-->
<div id="pagetop" style="padding-top:30px;">
  <div class="row"> 
    <div class="col">
      <h1 class="display-4 text-center">Walk your city, rock your world!<br>Walktober 2019</h1>
    </div>
  </div>
  
  <div class="row"> 
    <div class="col">
      <h3 class="text-center">Presented by the Pasadena Complete Streets Coalition and Day One</h3> 
        <div class="row justify-content-center">
        <div class="col-auto"><img src="{{ site.url }}/img/csc_logos/banner_small.jpg" width="300px" alt="Pasadena CSC"></div>
        <div class="col-auto"><img src="{{ site.url }}/img/walktober/dayone-logo.jpg" width="133px" alt="Day One"></div>
        </div>
      <h3 class="text-center">in collaboration with:</h3>
      <p class="text-center"><img src="{{ site.url }}/img/walktober/artwalk-logo.png" width="200px" alt="Pasadena ArtWalk"> 
      <img src="{{ site.url }}/img/walktober/opmd-logo.jpg" width="200px" alt="Old Pasadena Management District">
      <img src="{{ site.url }}/img/walktober/pasadenaheritage-logo.jpg" width="200px" alt="Pasadena Heritage">
      <img src="{{ site.url }}/img/walktober/pwt-logo.png" width="100px" alt="Pasadena Walking Tours"> 
      <img src="{{ site.url }}/img/walktober/jaycees-logo.jpg" width="100px" alt="Pasadena Jaycees"> 
      <img src="{{ site.url }}/img/walktober/club21-logo.jpg" width="200px" alt="Club 21">
      <img src="{{ site.url }}/img/walktober/pphd-logo.jpg" width="200px" alt="Pasadena Public Health"></p>
      <p class="text-center">and the Pasadena Downtown Neighborhood Association, Pasadena Water and Power, and the Pasadena Citizen's Service Center.</p>
    </div>
  </div>
</div>

<!--Poster-->
<div id="poster" style="padding-top:30px;">
  <div class="row">
    <div class="col text-center"><img src="{{ site.url }}/img/walktober/walktober.jpg" class="img-fluid"></div>  
  </div>
  <div class="row">
      <div class="col text-center"><p><em>Poster credit: Adrian Kalvinskas, <A href="https://distantlandsblog.wordpress.com/" target="_blank" rel="noopener noreferrer">Distant Lands Pasadena</a></em></p></div>  
  </div>
</div>

<!--Calendar-->
<div id="eventList" style="padding-top:30px;">
<h1>Events</h1>
<p><a href="https://calendar.google.com/calendar/embed?src=e2951ldkd87chs8raacpep5648%40group.calendar.google.com&tab=mc&date=20181001" target="_blank" rel="noopener noreferrer">See these events in Google Calendar format.</a> (You can easily copy an event to your personal calendar by clicking on it, then clicking on the three dots.)</p>

{% for event in site.data.walkData2019 %}
<div class="card card-body mb-3">
  <div class="row">
    <div class="col-auto">
        <div class="datebox">{{ event.Day | date: %^a}}<br>{{ event.Date }}</div>
    </div>
    <div class="col">
        <div class="row"><div class="col">
        <h2>{{ event."Walk name" }}</h2>
        </div></div>
        <div class="row"><div class="col">
            <div class="infoblock"><p><i class="far fa-clock"></i> {{ event."Start Time" | date: %l %p}}{% if event."End Time"=nil %} to {{ event."Start Time" | date: %l %p}}{% endif %}</p></div>
            <div class="infoblock"><p><i class="fas fa-dollar-sign"></i> {{ event."Ticket Price" }}</p></div>
            <div class="infoblock"><p><i class="fas fa-map-marker-alt"></i> {{ event."Meeting Location" }}{% if event.GMap!=nil %} (<a href="{{ event.GMap }}" target="_blank" rel="noopener noreferrer">Map</a>){% endif %}</p></div>
        </div></div>
    </div>
  </div>
  <div class="row">
    <div class="col">
        <p><a data-toggle="collapse" href="#{{ event."Walk name" | slice:0,3 }}-{{ event.Date }}-col" role="button" aria-expanded="false" aria-controls="{{ event."Walk name" | slice:0,3}}-{{ event.Date }}-col">Details</a> {% if event."Info Page" != nil %}| <a href="{{ event."Info Page" }}" target="_blank" rel="noopener noreferrer">{{ event.PageType }}</a>{% endif %}{% if event.TicketURL != nil %} | <a href="{{ event.TicketURL }}" target="_blank" rel="noopener noreferrer">Tickets</a>{% endif %}</p>
            <div class="collapse" id="{{ event.Name | slice:0,3 }}-{{ event.Date }}-col">
                {% if event.Detail1 != nil %}<p>{{ event.Detail1 }}</p>{% endif %}
                {% if event.Detail2 != nil %}<p>{{ event.Detail2 }}</p>{% endif %}
                {% if event.Detail3 != nil %}<p>{{ event.Detail3 }}</p>{% endif %}
                {% if event.Partner =="TRUE" %}<p>This is a partner event, so please see our partner's <a href="{{ event."Info Page" }}" target="_blank" rel="noopener noreferrer">event page</a> for the most up-to-date information.</p>{% endif %}
                <p><em>Hosted by <a href="{{ event.OrgSite1 }}" target="_blank" rel="noopener noreferrer">{{ event.Org1 }}</a>{% if event.Org3 != nil %}, <a href="{{ event.OrgSite2 }}" target="_blank" rel="noopener noreferrer">{{ event.Org2 }}</a>, and <a href="{{ event.OrgSite3 }}" target="_blank" rel="noopener noreferrer">{{ event.Org3 }}</a>{% endif %}{% if event.Org2 != nil and event.Org3 == nil%} and <a href="{{ event.OrgSite2 }}" target="_blank" rel="noopener noreferrer">{{ event.Org2 }}</a>{% endif %}</em>.</p>
            </div>
    </div> 
  </div>
</div>
{% endfor %}
</div>

<div id="aboutEvent" style="padding-top:30px;">
  <div class="row">
      <div class="col"><h1>About Walktober</h1>
      <p><strong>Walktober</strong> is an annual national event to get people walking in their communities! Walking is a deeply human activity, and we are proud to offer a full slate of tours, crawls, strolls, and exercise events that reflect a wide range of reasons and ways to enjoy walking. Whether you walk for physical health, mental health, to meet people, to see new things, or simply to get places and get things done (and maybe all of the above!), we want to recognize and celebrate that as an excellent thing.</p>
      <h1>About the Main Organizers, the Pasadena Complete Streets Coalition</h1>
      <p>The <strong>Pasadena Complete Streets Coalition</strong> is a community advocacy group dedicated to Complete Streets, a state-of-the-art approach to street and transportation design and policy with the idea that Pasadena's streets are for everyone: they are public spaces that should be safe, pleasant, and multi-functional. We think that walking is best when it's safe and fun, and we work on events, policies, and projects that embrace just that!</p> 
      <p><strong>Learn more about us at our website, <a href="{{ site.url }}/" target="_blank" rel="noopener noreferrer">www.pasadenacsc.org</a></strong></p>
      <p><strong>Complete Streets</strong> has been widely embraced by municipalities, states, and the U.S. Dept. of Transportation. Learn more at the Federal Department of Transportation's Complete Streets website, <a href="https://www.transportation.gov/mission/health/complete-streets" target="_blank" rel="noopener noreferrer">www.transportation.gov/mission/health/complete-streets</a>.</p>
      </div>  
  </div>
</div>