---
layout: walktober
title: Walktober 2019
---
<!--Header Area-->
<div id="pagetop" style="padding-top:30px;">
  <div class="row"> 
    <div class="col text-center">
    <h1 class="display-4">Happy Walktober 2019!</h1>
    <h3>A Celebration of Walking in Pasadena</h3>
    <p><a class="btn btn-walktober-sm mt-3 d-md-none" href="#eventList">Jump to the calendar</a></p>
    </div>
  </div>
</div>

<!--Poster-->
<div id="poster" style="padding-top:30px;">
  <div class="row">
    <div class="col text-center"><img src="{{ site.url }}/img/walktober/walktober2019.jpg" class="img-fluid"><br>
        <img src="{{ site.url }}/img/walktober/girltrek-logo.jpg" height="50px" alt="GirlTrek Trailblazers" class="mx-1">
        <img src="{{ site.url }}/img/walktober/club21-logo.jpg" height="40px" alt="Club 21" class="mx-1">
        <img src="{{ site.url }}/img/walktober/audubon-logo.jpg" height="60px" alt="Pasadena Audubon Society" class="mx-1">
        <img src="{{ site.url }}/img/walktober/pphd-logo.jpg" height="50px" alt="Pasadena Public Health" class="mx-1"></div>  
  </div>
  <div class="row">
      <div class="col text-center"><p class="footnote"><em>Poster credit: Adrian Kalvinskas (<a href="https://distantlandsblog.wordpress.com/" target="_blank" rel="noopener noreferrer">Distant Lands</a>), and Jazmine de la Torre (<a href="https://www.godayone.org/" target="_blank" rel="noopener noreferrer">Day One</a></em>)</p></div>  
  </div>
</div>

<div id="walktoberBlurb" style="padding-top:30px;">
  <div class="row"> 
    <div class="col">
    <p><strong>Walktober</strong> is an annual event to get people walking in Pasadena! Walking is a deeply human activity, and we're excited to offer a full slate of events that reflect a wide range of reasons and ways to enjoy walking. Whether you walk for physical health, mental health, to meet people, to see new things, or simply to get things done (maybe all of the above!), we recognize and celebrate that as an excellent thing.</p>
    </div>
  </div>
</div>

<!--Calendar-->
<div id="getNotifications" style="padding-top:30px;">
    <div class="row"><div class="col text-center mb-3">
        <h1>Calendar of Events</h1>
        <h3 class="mt-3">Want to get event info and reminders some other way? We've got you covered.</h3>
        </div></div>
    <div class="row justify-content-center">
        <div class="col-md my-2 mx-1">
        <div class="card text-center border-primary"><div class="card-body"><h1 class="card-title"><a href="https://www.facebook.com/pg/pasadenacsc/events/"><i class="fab fa-md fa-facebook-f i-walk"></i></a></h1><p>'Like' and follow <a href="https://www.facebook.com/pg/pasadenacsc/events/">@PasadenaCSC</a> to see our events on Facebook and <a href="https://www.facebook.com/local">Local</a>.</p><a class="btn btn-walktober mb-3" href="https://www.facebook.com/pg/pasadenacsc/events/">Get events on Facebook</a></div></div>
        </div>
        <div class="col-md my-2 mx-1">
        <div class="card text-center border-primary"><div class="card-body"><h1><a href="https://mailchi.mp/fd80ae17bb1f/sign-up-to-keep-up/"><i class="far fa-envelope i-walk"></i></a></h1><p>Sign up for our once-a-month newsletter to get an e-mail reminder on September 24th.</p><a class="btn btn-walktober mb-3" href="https://mailchi.mp/fd80ae17bb1f/sign-up-to-keep-up/">Get an e-mail reminder</a></div></div>
        </div>
        <div class="col-md my-2 mx-1">
        <div class="card text-center border-primary"><div class="card-body"><h1><a href="calendar.html"><i class="fas fa-calendar-alt i-walk"></i></a></h1><p>Copy events from our calendar to yours by selecting "copy to my calendar".</p><a class="btn btn-walktober mb-3" href="calendar/">View our Google Calendar</a></div></div>
        </div>
    </div>
</div>

<!--Calendar-->
<div class="actionitem" id="walkhelp">
<p class= "text-center lead">Too many walks? Need some help finding the ones that match your specific interests? Check out our handy <a href="highlights/"> walk highlights list</a> for our recommendations.</p>
<p class="text-center"><a class="btn btn-walktober-sm mt-1" href="highlights/">Get highlights and recommendations</a></p>
<p class= "text-center lead">Need information on a specific topic?</p>
<p class="text-center"><a class="btn btn-walktober-sm mt-1 mx-3" href="press-release/">Press release</a><a class="btn btn-walktober-sm mt-1 mx-3" href="mobility-FAQ/">Mobility FAQ</a></p></div>

<div id="eventList">
{% for event in site.data.walkData2019 %}
{% if event.Day != nil %}
<div class="card-header d-md-none date-header"><i class="far fa-calendar-plus"></i> {{ event.Day}}, October {{ event.Date | remove:"-Oct" }}<!--small--></div>
<div class="card card-body mb-3">
    <div class="row event-header">
        <div class="col-auto d-none d-md-block"><div class="datebox">{{ event.Day | slice:0,3 }}<br>Oct {{ event.Date | remove:"-Oct" }}</div><!--lg--></div>
        <div class="col">
            <h2>{{ event.WalkName }}</h2>
            <div>
                <div class="infoblock"><p><i class="far fa-clock"></i> {{ event.StartTime | date: "%l:%M %p" }}{% if event.EndTime!=nil %} to {{ event.EndTime | date: "%l:%M %p" }}{% endif %}</p></div>
                <div class="infoblock"><p><i class="fas fa-dollar-sign"></i> {{ event.TicketPrice }}</p></div>
                <div class="infoblock"><p><i class="fas fa-map-marker-alt"></i> {{ event.MeetingLocation }}{% if event.GMap!=nil %} (<a href="{{ event.GMap }}" target="_blank" rel="noopener noreferrer">Map</a>){% endif %}</p></div>
            </div>
                <p>
                {% if event.FBEventURL != nil %}<a href="{{ event.FBEventURL }}" target="_blank" rel="noopener noreferrer">Facebook Event Page</a>{% endif %}
                {% if event.InfoPage != nil %} | <a href="{{ event.InfoPage }}" target="_blank" rel="noopener noreferrer">{{ event.PageType }}</a>{% endif %}
                {% if event.TicketsURL != nil %} | <a href="{{ event.TicketsURL }}" target="_blank" rel="noopener noreferrer">Order Tickets</a>{% endif %}
                </p>
            </div></div>
    <div class="row event-body"><div class="col">
        <p>{{ event.WebsiteTeaser }} (<a data-toggle="collapse" href="#{{ event.WebsiteID }}" role="button" aria-expanded="false" aria-controls="{{ event.WebsiteID }}">Details</a>)</p>
        <div class="collapse" id="{{ event.WebsiteID }}">
            <p>{{ event.Detail1 }}</p>
            {% if event.Detail2 != nil %}<p>{{ event.Detail2 }}</p>{% endif %}
            {% if event.Detail3 != nil %}<p>{{ event.Detail3 }}</p>{% endif %}
            {% if event.PartnerListing =="Y" %}<p>This is a partner event, so please see our partner's <a href="{{ event.InfoPage }}" target="_blank" rel="noopener noreferrer">event page</a> for the most up-to-date information.</p>{% endif %}
            <p><em>Hosted by <a href="{{ event.OrgSite1 }}" target="_blank" rel="noopener noreferrer">{{ event.PartnerOrg1 }}</a>{% if event.PartnerOrg3 != nil %}, <a href="{{ event.OrgSite2 }}" target="_blank" rel="noopener noreferrer">{{ event.PartnerOrg2 }}</a>, and <a href="{{ event.OrgSite3 }}" target="_blank" rel="noopener noreferrer">{{ event.PartnerOrg3 }}</a>{% endif %}{% if event.PartnerOrg2 != nil and event.PartnerOrg3 == nil %} and <a href="{{ event.OrgSite2 }}" target="_blank" rel="noopener noreferrer">{{ event.PartnerOrg2 }}</a>{% endif %}</em>.</p>
            {% if event.TransitInfo !=nil %}<hr>
            <p class="footnote"><strong>ACCESS INFORMATION:</strong></p>
            <p class="footnote"><em>Walking/Transit:</em><br>{{ event.TransitInfo }}</p>
            <p class="footnote"><em>Biking:</em><br>{{ event.BikeInfo }}</p>
            <p class="footnote"><em>Carpooling:</em><br> {{event.CarpoolInfo }}</p>
            {% endif %}
        </div>
    </div></div>
</div>
{% endif %}
{% endfor %}
</div>

<!--Courtesy tour listings-->
<div id="addTours" style="padding-top:30px;">
<h2>Additional October Walking Tours in Pasadena</h2>
<p>Want more walks? Check out these walking tours hosted by some of our partners:</p>
{% for event in site.data.otherWalks2019 %}
<div class="card-header d-md-none date-header"><i class="far fa-calendar-plus"></i> {{ event.longDate }}<!--small--></div>
<div class="card card-body mb-3">
    <div class="row event-header">
        <div class="col-auto d-none d-md-block"><div class="datebox">{{ event.shortDate }}</div><!--lg--></div>
        <div class="col">
            <h2>{{ event.WalkName }}</h2>
            <div>
                <div class="infoblock"><p><i class="far fa-clock"></i> {{ event.StartTime | date: "%l:%M %p" }}{% if event.EndTime!=nil %} to {{ event.EndTime | date: "%l:%M %p" }}{% endif %}</p></div>
                <div class="infoblock"><p><i class="fas fa-dollar-sign"></i> {{ event.TicketPrice }}</p></div>
                <div class="infoblock"><p><i class="fas fa-map-marker-alt"></i> {{ event.MeetingLocation }}{% if event.GMap!=nil %} (<a href="{{ event.GMap }}" target="_blank" rel="noopener noreferrer">Map</a>){% endif %}</p></div>
            </div>
                <p>
                {% if event.InfoPage != nil %}<a href="{{ event.InfoPage }}" target="_blank" rel="noopener noreferrer">{{ event.PageType }}</a>{% endif %}
                {% if event.TicketURL != nil %} | <a href="{{ event.TicketURL }}" target="_blank" rel="noopener noreferrer">Order Tickets</a>{% endif %}
                </p>
            </div></div>
    <div class="row event-body"><div class="col">
        <!--<p>{{ event.WebsiteTeaser }} -->(<a data-toggle="collapse" href="#{{ event.WebsiteID }}" role="button" aria-expanded="false" aria-controls="{{ event.WebsiteID }}">Details</a>)</p>
        <div class="collapse" id="{{ event.WebsiteID }}">
            <p>{{ event.Detail1 }}</p>
            {% if event.Detail2 != nil %}<p>{{ event.Detail2 }}</p>{% endif %}
            {% if event.Detail3 != nil %}<p>{{ event.Detail3 }}</p>{% endif %}
            <p>This is a partner event, so please see our partner's <a href="{{ event.InfoPage }}" target="_blank" rel="noopener noreferrer">event page</a> for the most up-to-date information.</p>
            <p><em>Hosted by <a href="{{ event.OrgSite1 }}" target="_blank" rel="noopener noreferrer">{{ event.PartnerOrg1 }}</a>{% if event.PartnerOrg3 != nil %}, <a href="{{ event.OrgSite2 }}" target="_blank" rel="noopener noreferrer">{{ event.PartnerOrg2 }}</a>, and <a href="{{ event.OrgSite3 }}" target="_blank" rel="noopener noreferrer">{{ event.PartnerOrg3 }}</a>{% endif %}{% if event.PartnerOrg2 != nil and event.PartnerOrg3 == nil %} and <a href="{{ event.OrgSite2 }}" target="_blank" rel="noopener noreferrer">{{ event.PartnerOrg2 }}</a>{% endif %}</em>.</p>
        </div>
    </div></div>
</div>
{% endfor %}
</div>

<!--Partner Area-->
<div id="pagetop" style="padding-top:30px;">
  <div class="row"> 
    <div class="col text-center">
    <img class="align-center mt-2 mb-3" src="{{ site.url }}/img/csc_logos/banner_small.jpg" width="300px" alt="Pasadena CSC">
    <h3 class="text-center">Walktober 2019 is a labor of love by the Pasadena Complete Streets Coalition, in partnership with:</h3> 
      <p class="text-center">
      Day One<br>
      GirlTrek Trailblazers<br>
      Alzheimer's Association, California Southland Chapter<br>
      Art Walk / Playhouse District Association<br>
      Art Night / Pasadena Arts & Culture Commission<br>
      Caltech Women's Club<br>
      Club 21<br>
      Mayor Terry Tornek and City Councilmembers Tyron Hampton (District 1), Margaret McAustin, (District 2), John Kennedy (District 3), Gene Masuda (District 4), and Andy Wilson (District 7)<br>
      Old Pasadena Management District<br>
      Pasadena Audubon Society<br>
      Pasadena Heritage<br>
      City of Pasadena Public Health Department<br>
      Pasadena Department of Transportation<br>
      Pasadena Unified School District<br>
      Pasadena Walking Tours<br>
      Pasadena Water and Power</h3>
      <p class="center"><img src="{{ site.url }}/img/walktober/dayone-logo.jpg" height="80px" alt="Day One" class="mx-1">
      <img src="{{ site.url }}/img/walktober/girltrek-logo.jpg" height="80px" alt="GirlTrek Trailblazers" class="mx-1"><br>
      <img src="{{ site.url }}/img/walktober/artwalk-logo.png" height="100px" alt="Pasadena ArtWalk" class="mx-1">
      <img src="{{ site.url }}/img/walktober/club21-logo.jpg" height="70px" alt="Club 21" class="mx-1">
      <img src="{{ site.url }}/img/walktober/opmd-logo.png" height="100px" alt="Old Pasadena Management District" class="mx-1">
      <img src="{{ site.url }}/img/walktober/audubon-logo.jpg" height="100px" alt="Pasadena Audubon Society" class="mx-1">
      <img src="{{ site.url }}/img/walktober/pasadenaheritage-logo.jpg" height="80px" alt="Pasadena Heritage" class="mx-1">
      <img src="{{ site.url }}/img/walktober/pphd-logo.jpg" height="80px" alt="Pasadena Public Health" class="mx-1">
      <img src="{{ site.url }}/img/walktober/pwt-logo.png" height="100px" alt="Pasadena Walking Tours" class="mx-1"></p>
    </div>
  </div>
</div>

<div id="aboutEvent" style="padding-top:50px;">
  <div class="row">
      <div class="col">
      <h1>About the Pasadena Complete Streets Coalition</h1>
      <p>Hi! We're a community advocacy group of folks who share a simple vision: a city where people can comfortably walk, bike, skate, and scoot, with cleaner air and safe, stress-free streets for everybody.</p>
      <p>We advocate for Complete Streets, a state-of-the-art approach to transportation and street design that recognizes that people and communities benefit when streets are designed to be safe and accessible for all kinds of people, rather than being designed for speed.</p> 
      <p>We think that walking is best when it's safe and fun, and we work on events, policies, and projects that embrace just that!</p> 
      <p><strong>Learn more about us at our website, <a href="{{ site.url }}/" target="_blank" rel="noopener noreferrer">www.pasadenacsc.org</a></strong></p>
      <p><strong>Complete Streets</strong> has been widely embraced by over 1,300 communities and agencies nationwide. Learn more at the Federal Department of Transportation's <a href="https://www.transportation.gov/mission/health/complete-streets" target="_blank" rel="noopener noreferrer">Complete Streets website</a>.</p></div>  
  </div>
</div>