    <div id="news-alert" class="alert-fixed text-center my-0 p">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong><a href="{{ site.url }}/walktober2019/" class="alert-link">Walktober 2019 is coming!</a></strong> Walk for health, meet new friends, and explore the city with us at over 20 walking events. <a href="{{ site.url }}/walktober2019/" class="alert-link">Learn more.</a><button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
    </div>