    <div id="news-alert" class="alert-fixed text-center my-0 p">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Please join us on Sunday, November 17 at 5 PM to mark 2019's        <strong><a href="https://www.facebook.com/events/502952743881163/" class="alert-link">World Day of Remembrance </a></strong> (#WDoR2019). <a href="https://www.facebook.com/events/502952743881163/" class="alert-link">Schedule here</a>.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
    </div>