    <div id="news-alert" class="alert-fixed text-center my-0 p">
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>Many thanks of everyone who joined us for <a href="{{ site.url }}/walktober2019/" class="alert-link">Walktober 2019</a></strong>! Our final event is CM Kennedy's Public Art Walk on Nov 2 - <a href="{{ site.url }}/walktober2019/" class="alert-link">learn more</a>.<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>

      </div>
    </div>