<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
<div class="container" style="padding-top:70px;">
<div class="row justify-content-end">
<div class="col-xs-auto">
    <div class="scroll-top page-scroll d-md-none d-lg-none d-xl-none">
        <a class="btn btn-primary" href="#pagetop">
            <i class="fas fa-angle-up"></i>
        </a>
    </div>
</div>
</div>
</div>
    
<!--Footer area-->    
    <div class="container-fluid bg-warning py-3">
    <div class="text-center"><p class="footer">© 2013-2019 Pasadena Complete Streets Coalition | <a href="{{ site.url }}/contact-us/">Contact Us</a></p></div>
    </div>
    
<!-- Bootstrap Javascript -->
<script defer src="https://use.fontawesome.com/releases/v5.0.8/js/all.js" integrity="sha384-SlE991lGASHoBfWbelyBPLsUlwY1GwNDJo3jSJO04KZ33K2bwfV9YBauFfnzvynJ" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>