<head>
<!-- Google Analytics tracking: Global Site Tag (gtag.js)  -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-81732179-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-81732179-1');
</script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{ page.title }}</title>

  <link rel="stylesheet" href="{{ site.url }}/css/main.css">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Montserrat" rel="stylesheet">
<!-- For Google -->
<meta name="description" content="{% if page.twitdesc %}{{ page.twitdesc | strip_newlines }}{% else %}{{ site.description }}{% endif %}" />
<meta name="keywords" content="{{ page.tags | join:', ' }}, complete streets, green streets, street safety, traffic safety, bike, bicycling, walk, walking, pedestrian, climate crisis, alternative transportation" />  
<!-- For Twitter -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="@pasadenacsc">
  <meta name="twitter:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta name="twitter:description" content="{% if page.twitdesc %}{{ page.twitdesc | strip_newlines }}{% else %}{{ site.description }}{% endif %}">
{% if page.image %}  <meta name="twitter:image:src" content="{{ page.image | prepend: site.url }}">{% endif %} 
<!-- For Facebook -->
  <meta property="fb:app_id" content="906825896346068">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">  
  <meta property="og:type" content="article" />  
  <meta property="og:title" content="{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}">
  <meta property="og:description" content="{% if page.twitdesc %}{{ page.twitdesc | strip_newlines }}{% else %}{{ site.description }}{% endif %}">  

  {% if page.image %}  <meta property="og:image" content="{{ page.image | prepend: site.url }}">{% endif %} 

</head>