<head>
<!-- Google Analytics tracking: Global Site Tag (gtag.js)  -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-81732179-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-81732179-1');
</script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Pasadena Complete Streets Coalition</title>

  <link rel="stylesheet" href="{{ site.url }}/css/main.css">

  <link href="//cdn-images.mailchimp.com/embedcode/classic-10_7.css" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Oswald|Raleway" rel="stylesheet">
</head>