<!-- MailChimp Signup Form -->
<!-- Validate JS with legacy browser support -->
<script src="https://cdn.jsdelivr.net/gh/cferdinandi/validate@2.2.0/dist/validate.polyfills.min.js"></script>

<div id="newsletter" style="margin-top:70px;background-color:#fefff1;">
    <div class="row mb-3">
        <div class="col">
        <h1 class="my-3">Get connected with our newsletter.</h1>
        <p class="lead">Enter your email for monthly updates. You can opt-out at any time:</p>
        </div>
    </div>
<form data-validate action="https://pasadenacsc.us17.list-manage.com/subscribe/post?u=b8e8c7649f0f49bbaadd20167&amp;id=1e4effed8d" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
<div class="row my-3">
    <div class="col-md-auto mb-1">
	<label for="mce-FNAME" class="p">First Name </label>
    <input type="text" size="20" name="FNAME" id="mce-FNAME" required></div>
    <div class="col-md-auto mb-1">
	<label for="mce-LNAME" class="p">Last Name </label>
    <input type="text" size="20" name="LNAME" id="mce-LNAME" required></div>
    <div class="col-md-auto mb-1">
	<label for="mce-EMAIL" class="p">Email Address </label>
	<input type="email" size="30" name="EMAIL" id="mce-EMAIL" title="The email domain is invalid (the part after the @)." pattern="^([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x22([^\x0d\x22\x5c\x80-\xff]|\x5c[\x00-\x7f])*\x22))*\x40([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d)(\x2e([^\x00-\x20\x22\x28\x29\x2c\x2e\x3a-\x3c\x3e\x40\x5b-\x5d\x7f-\xff]+|\x5b([^\x0d\x5b-\x5d\x80-\xff]|\x5c[\x00-\x7f])*\x5d))*(\.\w{2,})+$" required>
    </div>
</div>
<div style="display:none">
    <strong>I want to hear about (select all that apply): </strong>
    <ul><li><input type="checkbox" value="1" name="group[5181][1]" id="mce-group[5181]-5181-0" checked><label for="mce-group[5181]-5181-0">News and Action Alerts</label></li>
<li><input type="checkbox" value="2" name="group[5181][2]" id="mce-group[5181]-5181-1" checked><label for="mce-group[5181]-5181-1">Community Social Events</label></li>
<li><input type="checkbox" value="4" name="group[5181][4]" id="mce-group[5181]-5181-2" checked><label for="mce-group[5181]-5181-2">Livable Orange Grove</label></li>
</ul>
</div>

<!-- bot signup protection-->
    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_b8e8c7649f0f49bbaadd20167_1e4effed8d" tabindex="-1" value=""></div>
    <div class="row">
        <div class="col"><input type="submit" value="Sign up free!" name="subscribe" id="mc-embedded-subscribe" class="btn btn-primary float-right mb-3"></div>
    </div>
</form>
</div>

<script>
	validate.init();
</script>
