<!--splash-->
<div id="splash" style="padding-top:10px;"><div class="row">
    <div class="col my-3 text-center"><img src="{{ site.url }}/img/unionsplash.png" class="img-fluid">
        <h1 class="center">Show your support at the Design Workshop on May 2, 2019!</h1></div>
  </div>
    <div class="row">
    <div class="col">
      <p class="lead">Do you want everyone to be able to comfortably ride a bike, skateboard, scooter, or other wheeled device in Pasadena? Take action <em>now</em> to support development of Pasadena's bicycle network!</p>
      <a class="btn btn-primary float-right mb-3" href="{{ site.url }}/action/">Learn two simple ways you can help...</a>
    </div>
  </div>
</div>