<!-- Navigation: Left side, brand -->
<nav class="navbar navbar-expand-md sticky-top navbar-dark bg-primary d-flex">
    <div class="container container-menu" id="page-top"> <!--Constrain width of content, but not color bar-->

<!-- Links will be collected on a toggle menu on small screens -->
        <div class="collapse navbar-collapse" id="navbarContent">
                <div class="navbar-nav">
      <a class="nav-item nav-link" href="{{ site.url }}/index.html#who-we-are">Who we are</a>
      <a class="nav-item nav-link" href="{{ site.url }}/index.html#what-we-do">What we do</a>
      <a class="nav-item nav-link" href="{{ site.url }}/index.html#events">Events</a>
      <a class="nav-item nav-link" href="#newsletter">Newsletter</a>
      <!--<a class="nav-item nav-link" href="{{ site.url }}/donate.html">Donate</a>
      <a class="nav-item nav-link" href="{{ site.url }}/blog/">Blog</a> -->
               </div>
        </div><!-- /.navbar-collapse -->

        <div id="navbarSocial" class="navbar-nav ml-auto flex-row">
        <a href="https://www.facebook.com/PasadenaCSC/" class="nav-item nav-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-md fa-facebook-f" style="margin-right:0.5em;"></i></a>
        <a href="https://www.twitter.com/PasadenaCSC/" class="nav-item nav-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-md fa-twitter" style="margin-right:0.5em;"></i></a>
        <a href="https://www.instagram.com/PasadenaCSC/" class="nav-item nav-link" target="_blank" rel="noopener noreferrer"><i class="fab fa-md fa-instagram" style="margin-right:0.5em;"></i></a>
        </div>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation"><span class="navbar-toggler-icon"></span></button>
    </div>
</nav>