---
layout: static
title: Pasadena CSC Blog
markdown: kramdown
excerpt: "We've been thinking about safe, green, stress-free, and inclusive streets in Pasadena..."
---
{% for post in paginator.posts %}
<h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
<p>Posted by {{ post.author }} on <strong>{{ post.date | date: "%A, %B %-d, %Y" }}</strong></p>
{{ post.content }}
{% if post.tags != empty %}
    <p>Tags: {{ post.tags | sort_natural | join:', ' }}</p>
{% endif %}
<hr>
{% endfor %}

{% include pagination.html %}

{% include mailchimp.html %}