<!DOCTYPE html>
<html>
{% include head.html %}
  <body>
  <!--Top anchor-->
<div id="pagetop"></div>
<!---{% include alert.html %} <!--Comment out the contents of alert.html when there are no alerts-->
{% include menu.html %}
<div class="container" style="padding-top:20px;">
  {{ content }}
</div>
 {% include footer.html %}
 <script type="text/javascript">
    $('#redirectModal').modal('show');
document.getElementById("redirectButton").onclick = function () {
    location.href = "{{ site.url }}/walktober2019/";
};
</script>
  </body>
</html>